/* center container in the middle */

.wrapper {
  margin: auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 25px;
  list-style: none;
}

.examplecontainer {
  display: grid;
  grid-template-columns: 120px 260px;
  grid-template-rows: 50px 40px 36px;
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 380px;
  height: 126px;
  background: #F5F5F5;
  border-radius: 5px;
  text-decoration: none;
}

.examplename {
  font-size: large;
  font-weight: bold;
  margin-bottom: 8px;
}

.img {
  width: 80px;
  margin-top: 10px;
  margin-left: 5px;
}

.pageHeading {
  margin: 2rem;
}

.buttonImg {
  width: 10px;
  margin-right: 10px;
}

.button {
  background: darken(#F5F5F5, 10%);
  padding: 5px 15px 5px 15px;
  cursor: pointer;
}
