---
id: ory-open-account-experience-verification
title: ory open account-experience verification
description: ory open account-experience verification Open verification page
---

<!--
This file is auto-generated.

To improve this file please make your change against the appropriate "./cmd/*.go" file.
-->
## ory open account-experience verification

Open verification page

```
ory open account-experience verification [flags]
```

### Options

```
  -h, --help   help for verification
```

### Options inherited from parent commands

```
  -c, --config string    Path to the Ory Network configuration file.
      --project string   The project to use, either project ID or a (partial) slug.
  -q, --quiet            Be quiet with output printing.
  -y, --yes              Confirm all dialogs with yes.
```

### SEE ALSO

* [ory open account-experience](ory-open-account-experience)	 - Open Ory Account Experience Pages

