{% extends template.self %}

{% block faq_header_brand %}
<img src="https://www.ory.sh/images/ory_07_-26-no-border.png" height="30" />
{% endblock %}

{% block faq_menu %}
<ul class="nav navbar-nav navbar-right">
    <li><a href="https://www.ory.sh/">Home</a></li>
    <li><a href="https://www.ory.sh/docs">Docs</a></li>
    <li><a href="https://community.ory.am/">Forum</a></li>
    <li><a href="https://discord.gg/PAMQWkr">Chat</a></li>
    <li><a href="https://github.com/ory">GitHub</a></li>
</ul>
{% endblock %}

{% block faq_footer %}
<div class="faq-page-footer">
    <a href="https://github.com/ory/docs/tree/master/faq" target="_blank">Edit this FAQ</a>
</div>

<script src="https://codesponsor.io/scripts/aa9bf359-320b-41a4-b4f8-efeede8699c4/embed.js"></script>
<div id="codefund_ad"></div>
{% endblock %}
