# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  publish:
    docker:
      - image: circleci/node:14
    working_directory: /home/circleci/docs
    steps:
      - checkout
      - run: |
          if [[ "$(git show -s --format=%B | head -n 1)" == "autogen"* ]]; then
            circleci-agent step halt
          fi
      - run: |
          git config --global user.name "aeneasr"
          git config --global user.email "3372410+aeneasr@users.noreply.github.com"
      - run: |
          cd docs
          npm ci
          npm run format
          git add -A
          (git commit -a -m "autogen: build docs from $CIRCLE_SHA1" && git push origin HEAD:master) || true
          npm run build
      - run: |
          git clone git@github.com:ory/web.git ../web
          rm -rf ../web/generated/docs/docs/*
          cp -R ./docs/build/* ../web/generated/docs/docs/
          cd ../web
          git add -A
          git status
          git commit -a -m "docs: Bump to $CIRCLE_SHA1" --allow-empty
          git push origin HEAD:master

workflows:
  version: 2
  publish:
    jobs:
      - publish:
          filters:
            tags:
              ignore: /.*/
            branches:
              only: /master/
