# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  publish:
    docker:
      - image: circleci/node:11.1
    working_directory: /home/circleci/docs
    steps:
      - checkout
      - run: cd website; npm ci
      - run: git config --global user.email "hi@ory.sh"
      - run: git config --global user.name "ORY Continuous Integration"
      - run: "git clone https://arekkas:$DOCS_TOKEN_PUSH@github.com/ory/ory-am.git ../ory-am"
      - run: cd website; npm run api
      - run: cd website; npm run build
      - run: rm -rf ../ory-am/docs/*
      - run: cp -R ./website/build/docs/* ../ory-am/docs/
      - run: "cd ../ory-am && git add -A && git commit -a -m \"docs: Bump to $CIRCLE_SHA1\" && git push origin || exit 0"

  test:
    docker:
      - image: circleci/node:11.1
    working_directory: /home/circleci/docs
    steps:
      - checkout
      - run: cd website; npm ci
      - run: ./scripts/test-links.sh

workflows:
  version: 2
  publish:
    jobs:
      - test
      - publish:
          requires:
            - test
          filters:
            branches:
              only: master
