. mantine-UnstyledButton-root {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.mantine-1wpc1xj {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
  overflow: visible;
}

.mantine-124rx6h {
  padding: 0px 1.625rem;
  appearance: none;
  text-align: left;
  text-decoration: none;
  box-sizing: border-box;
  height: 3.125rem;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  width: auto;
  border-radius: 0.25rem;
  font-weight: 600;
  position: relative;
  line-height: 1;
  font-size: 1.125rem;
  user-select: none;
  cursor: pointer;
  border: 0.0625rem solid transparent;
  background-color: rgb(17, 28, 111);
  color: rgb(255, 255, 255);
}

.mantine-1wpc1xj {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
  overflow: visible;
}

.mantine-1ryt1ht {
  white-space: nowrap;
  height: 100%;
  overflow: hidden;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.mantine-1b4vo4u {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 4px;
}

.mantine-qenwvq {
  margin: 0px;
}

.mantine-1iugybl {
  position: relative;
}

.mantine-1sc70ew {
  display: block;
  width: 100%;
  height: 100%;
  border: 0px;
  border-radius: 0.25rem;
}

.mantine-1y9jqg9 {
  -webkit-tap-highlight-color: transparent;
  color: inherit;
  font-size: 1.125rem;
  line-height: 1.55;
  text-decoration: none;
  margin-left: 6px;
  margin-right: 6px;
}
