h1 {
  text-align: center;
  margin: 1.5rem;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  max-width: 1200px;
}

th {
  border-bottom: 1px solid black;
  border: 2px solid black;
}

td {
  text-align: left;
  border: 2px solid black;
}
