/**
 * fonts in this file are being loaded from the main website to improve
 * caching.
 */

@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/docs/fonts/Inter/InterVariable.woff2?v=4.0") format("woff2");
}

@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/docs/fonts/Inter/InterVariable-Italic.woff2?v=4.0") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("/docs/fonts/JetBrainsMono/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("/docs/fonts/JetBrainsMono/JetBrainsMono-BoldItalic.woff2")
    format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("/docs/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("/docs/fonts/JetBrainsMono/JetBrainsMono-ExtraBoldItalic.woff2")
    format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("/docs/fonts/JetBrainsMono/JetBrainsMono-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("/docs/fonts/JetBrainsMono/JetBrainsMono-ExtraLightItalic.woff2")
    format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("/docs/fonts/JetBrainsMono/JetBrainsMono-Italic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("/docs/fonts/JetBrainsMono/JetBrainsMono-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("/docs/fonts/JetBrainsMono/JetBrainsMono-LightItalic.woff2")
    format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("/docs/fonts/JetBrainsMono/JetBrainsMono-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("/docs/fonts/JetBrainsMono/JetBrainsMono-MediumItalic.woff2")
    format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("/docs/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("/docs/fonts/JetBrainsMono/JetBrainsMono-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("/docs/fonts/JetBrainsMono/JetBrainsMono-SemiBoldItalic.woff2")
    format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("/docs/fonts/JetBrainsMono/JetBrainsMono-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("/docs/fonts/JetBrainsMono/JetBrainsMono-ThinItalic.woff2")
    format("woff2");
  font-weight: 100;
  font-style: italic;
}
