.docsRating {
  display: inline-block;
  padding: 16px 30px 16px 40px;
  min-height: 66px;
  margin-top: 42px;
  margin-left: -32px;
  text-align: center;
  color: #057594;
  line-height: 32px;
  font-weight: 500;
  border-radius: 0 var(--ifm-global-radius) var(--ifm-global-radius) 0;
}

svg {
  height: 1.5em;
  width: 1.5em;
  margin: 0 0 0 6px;

  &:hover,
  &:focus {
    cursor: pointer;
    fill: var(--ifm-color-primary);
  }
}

.i_thumbsup {
  fill: #56a211;
  transform: translateY(0.25em);
  margin-left: 12px;
}

.i_thumbsdown {
  fill: #e9430f;
  transform: scale(-1, -1) translateY(-0.25em);
}
