@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/Inter/InterVariable.woff2?v=4.0") format("woff2");
  }
  @font-face {
    font-family: InterVariable;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/Inter/InterVariable-Italic.woff2?v=4.0") format("woff2");
  }
  /* legacy name "Inter var" (Oct 2023) */
  @font-face {
    font-family: "Inter var";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/Inter/InterVariable.woff2?v=4.0") format("woff2");
  }
  @font-face {
    font-family: "Inter var";
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/Inter/InterVariable-Italic.woff2?v=4.0") format("woff2");
  }
  /* static fonts */
  @font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("/fonts/Inter/Inter-Thin.woff2?v=4.0") format("woff2");
  }
  @font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url("/fonts/Inter/Inter-ThinItalic.woff2?v=4.0") format("woff2");
  }
  @font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("/fonts/Inter/Inter-ExtraLight.woff2?v=4.0") format("woff2");
  }
  @font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url("/fonts/Inter/Inter-ExtraLightItalic.woff2?v=4.0") format("woff2");
  }
  @font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/Inter/Inter-Light.woff2?v=4.0") format("woff2");
  }
  @font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/Inter/Inter-LightItalic.woff2?v=4.0") format("woff2");
  }
  @font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Inter/Inter-Regular.woff2?v=4.0") format("woff2");
  }
  @font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Inter/Inter-Italic.woff2?v=4.0") format("woff2");
  }
  @font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/Inter/Inter-Medium.woff2?v=4.0") format("woff2");
  }
  @font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/Inter/Inter-MediumItalic.woff2?v=4.0") format("woff2");
  }
  @font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/Inter/Inter-SemiBold.woff2?v=4.0") format("woff2");
  }
  @font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/Inter/Inter-SemiBoldItalic.woff2?v=4.0") format("woff2");
  }
  @font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Inter/Inter-Bold.woff2?v=4.0") format("woff2");
  }
  @font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Inter/Inter-BoldItalic.woff2?v=4.0") format("woff2");
  }
  @font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("/fonts/Inter/Inter-ExtraBold.woff2?v=4.0") format("woff2");
  }
  @font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url("/fonts/Inter/Inter-ExtraBoldItalic.woff2?v=4.0") format("woff2");
  }
  @font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/Inter/Inter-Black.woff2?v=4.0") format("woff2");
  }
  @font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/Inter/Inter-BlackItalic.woff2?v=4.0") format("woff2");
  }
  


@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono/JetBrainsMono-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono/JetBrainsMono-BoldItalic.woff2")
      format("woff2");
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono/JetBrainsMono-ExtraBoldItalic.woff2")
      format("woff2");
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono/JetBrainsMono-ExtraLight.woff2")
      format("woff2");
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono/JetBrainsMono-ExtraLightItalic.woff2")
      format("woff2");
    font-weight: 200;
    font-style: italic;
  }
  
  @font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono/JetBrainsMono-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono/JetBrainsMono-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono/JetBrainsMono-LightItalic.woff2")
      format("woff2");
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono/JetBrainsMono-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono/JetBrainsMono-MediumItalic.woff2")
      format("woff2");
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono/JetBrainsMono-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono/JetBrainsMono-SemiBoldItalic.woff2")
      format("woff2");
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono/JetBrainsMono-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono/JetBrainsMono-ThinItalic.woff2")
      format("woff2");
    font-weight: 100;
    font-style: italic;
  }
  