@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

/**
 * fonts in this file are being loaded from the main website to improve
 * caching.
 */

@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../static/fonts/Inter/InterVariable.woff2?v=4.0") format("woff2");
}

@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("../static/fonts/Inter/InterVariable-Italic.woff2?v=4.0")
    format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("../static/fonts/JetBrainsMono/JetBrainsMono-Bold.woff2")
    format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("../static/fonts/JetBrainsMono/JetBrainsMono-BoldItalic.woff2")
    format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("../static/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("../static/fonts/JetBrainsMono/JetBrainsMono-ExtraBoldItalic.woff2")
    format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("../static/fonts/JetBrainsMono/JetBrainsMono-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("../static/fonts/JetBrainsMono/JetBrainsMono-ExtraLightItalic.woff2")
    format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("../static/fonts/JetBrainsMono/JetBrainsMono-Italic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("../static/fonts/JetBrainsMono/JetBrainsMono-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("../static/fonts/JetBrainsMono/JetBrainsMono-LightItalic.woff2")
    format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("../static/fonts/JetBrainsMono/JetBrainsMono-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("../static/fonts/JetBrainsMono/JetBrainsMono-MediumItalic.woff2")
    format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("../static/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("../static/fonts/JetBrainsMono/JetBrainsMono-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("../static/fonts/JetBrainsMono/JetBrainsMono-SemiBoldItalic.woff2")
    format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("../static/fonts/JetBrainsMono/JetBrainsMono-Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("../static/fonts/JetBrainsMono/JetBrainsMono-ThinItalic.woff2")
    format("woff2");
  font-weight: 100;
  font-style: italic;
}

:root {
  --ifm-font-family-base-fallback: sans-serif;
  --ifm-font-family-monospace-fallback: monospace;
  --ifm-font-family-base: "InterVariable", var(--ifm-font-family-base-fallback);
  --ifm-font-family-monospace: "JetBrains Mono",
    var(--ifm-font-family-monospace-fallback);
  --ifm-color-primary: var(--color-indigo-900); /* Indigo 900 */
  --ifm-heading-color: var(
    --color-indigo-900
  ); /* Indigo 900 - Color used for headings in text */
  --ifm-heading-font-family: "InterVariable";
  --ifm-navbar-link-hover-color: var(--color-indigo-500); /* Cyan 500 */
  --ifm-menu-color-active: var(
    --color-indigo-500
  ); /* Cyan 500 - Active text in sidebar */
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    --ifm-font-family-base: InterVariable, var(--ifm-font-family-base-fallback);
    --ifm-heading-font-family: InterVariable,
      var(--ifm-font-family-base-fallback);
  }
}
/* If you have a different syntax highlighting theme for dark mode. */
[data-theme="dark"] {
  /* Color which works with dark mode syntax highlighting theme */
  --docusaurus-highlighted-code-line-bg: rgba(66, 66, 66, 0.35);
  --ifm-color-primary: #7986cb; /* Indigo 300 */
  --ifm-heading-color: #7986cb; /* Indigo 300 - Color used for headings in text */
}

.markdown figure {
  padding: 8px;
  margin: 32px;
}

.markdown a {
  @apply text-indigo-500;
}

.menu__link[href*="https://"] svg,
svg[class*="iconExternalLink"] {
  display: none !important;
}

.command-line span.token.output {
  user-select: none;
}

.code-block-delete-line {
  background-color: rgba(255, 0, 0, 0.2);
  margin: 0 -12px;
  padding: 0 12px;
  text-decoration: line-through;
}

.code-block-add-line {
  background-color: rgba(0, 255, 0, 0.2);
  margin: 0 -12px;
  padding: 0 12px;
}

@media (max-width: 996px) {
  .footer__links a,
  .footer__links a:active,
  .footer__links a:visited,
  .footer__links a:focus {
    color: inherit;
    text-decoration: none;
  }

  .footer__links a:not(:first-child) {
    margin-top: 1em;
  }
}

.all-docs-link a:before {
  content: "";
  mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="%232c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>')
    no-repeat 100% 100%;
  display: flex;
  height: 20px;
  width: 20px;
  mask-size: cover;
  background-color: #2c3e50;
  margin-right: 8px;
  transition: transform 0.2s;
}

.all-docs-link a:hover:before {
  transform: translateX(-4px);
}

.menu__list-item.external-link a:after {
  content: "";
  mask: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="%230F172A"/></svg>')
    no-repeat 100% 100%;
  display: flex;
  height: 20px;
  width: 20px;
  mask-size: cover;
  background-color: #2c3e50;
  margin-left: auto;
  margin-right: 8px;
  transition: transform 0.2s;
}

.menu__list-item.external-link a:hover:after {
  transform: translateX(4px);
}

.theme-doc-sidebar-item-link,
.theme-doc-sidebar-item-category-level-2 {
  font-size: 14px;
}

.theme-doc-sidebar-item-link-level-1 > a {
  font-size: 16px;
}

.theme-doc-sidebar-item-link-level-2,
.theme-doc-sidebar-item-category-level-2 {
  border-left: 1px solid #eaecef;
  margin-left: 0.5rem;
}

.theme-doc-sidebar-item-link .menu__link:hover,
.theme-doc-sidebar-item-category .menu__link:hover,
.theme-doc-sidebar-item-category .menu__list-item-collapsible:hover {
  background-color: unset !important;
  color: var(--ifm-color-primary);
}

.theme-doc-sidebar-item-link .menu__link--active {
  background-color: unset !important;
}

.theme-doc-sidebar-item-link:not(:first-child),
.theme-doc-sidebar-item-category-level-2:not(:first-child) {
  margin-top: 0;
}

.theme-doc-sidebar-item-link .menu__link {
  padding: 0.5rem 0.75rem;
}

.config-editor .unsupported-field pre {
  max-width: 100%;
  overflow: hidden;
  white-space: pre-wrap;
}

.config-editor p {
  margin: unset;
}

.footer__link-item:hover {
  color: unset;
}
.footer__link-item button {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

.footer__link-item button:hover {
  text-decoration: underline;
}
