:root {
  --ifm-font-family-base-fallback: sans-serif;
  --ifm-font-family-monospace-fallback: monospace;
  --ifm-font-family-base: "Inter", var(--ifm-font-family-base-fallback);
  --ifm-font-family-monospace: "JetBrains Mono",
    var(--ifm-font-family-monospace-fallback);
  --ifm-color-primary: #312e81; /* Indigo 900 */
  --ifm-heading-color: #312e81; /* Indigo 900 - Color used for headings in text */
  --ifm-heading-font-family: "Inter";
  --ifm-navbar-link-hover-color: #06b6d4; /* Cyan 500 */
  --ifm-menu-color-active: #06b6d4; /* Cyan 500 - Active text in sidebar */
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    --ifm-font-family-base: Inter, var(--ifm-font-family-base-fallback);
    --ifm-heading-font-family: Inter, var(--ifm-font-family-base-fallback);
  }
}

/* If you have a different syntax highlighting theme for dark mode. */
[data-theme="dark"] {
  /* Color which works with dark mode syntax highlighting theme */
  --docusaurus-highlighted-code-line-bg: rgba(66, 66, 66, 0.35);
  --ifm-color-primary: #7986cb; /* Indigo 300 */
  --ifm-heading-color: #7986cb; /* Indigo 300 - Color used for headings in text */
}

.markdown figure {
  padding: 8px;
  margin: 32px;
}

a {
  color: #06b6d4; /* Cyan 500 */
}

.menu__link[href*="https://"] svg,
svg[class*="iconExternalLink"] {
  display: none !important;
}

.command-line span.token.output {
  user-select: none;
}

.code-block-delete-line {
  background-color: rgba(255, 0, 0, 0.2);
  margin: 0 -12px;
  padding: 0 12px;
  display: block;
  text-decoration: line-through;
}

.code-block-add-line {
  background-color: rgba(0, 255, 0, 0.2);
  margin: 0 -12px;
  padding: 0 12px;
  display: block;
}

@media (max-width: 996px) {
  .footer__links a,
  .footer__links a:active,
  .footer__links a:visited,
  .footer__links a:focus {
    color: inherit;
    text-decoration: none;
  }

  .footer__links a:not(:first-child) {
    margin-top: 1em;
  }
}

.all-docs-link a:before {
  content: "";
  mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="%232c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>')
    no-repeat 100% 100%;
  display: flex;
  height: 20px;
  width: 20px;
  mask-size: cover;
  background-color: #2c3e50;
  margin-right: 8px;
  transition: transform 0.2s;
}

.all-docs-link a:hover:before {
  transform: translateX(-4px);
}

.theme-doc-sidebar-item-link,
.theme-doc-sidebar-item-category-level-2 {
  font-size: 14px;
}

.theme-doc-sidebar-item-link-level-1 > a {
  font-size: 16px;
}

.theme-doc-sidebar-item-link-level-2,
.theme-doc-sidebar-item-category-level-2 {
  border-left: 1px solid #eaecef;
  margin-left: 0.5rem;
}

.theme-doc-sidebar-item-link .menu__link:hover,
.theme-doc-sidebar-item-category .menu__link:hover,
.theme-doc-sidebar-item-category .menu__list-item-collapsible:hover {
  background-color: unset !important;
  color: var(--ifm-color-primary);
}

.theme-doc-sidebar-item-link .menu__link--active {
  background-color: unset !important;
  color: var(--ifm-color-primary);
}

.theme-doc-sidebar-item-link:not(:first-child),
.theme-doc-sidebar-item-category-level-2:not(:first-child) {
  margin-top: 0;
}

.theme-doc-sidebar-item-link .menu__link {
  padding: 0.5rem 0.75rem;
}

.config-editor .unsupported-field pre {
  max-width: 100%;
  overflow: hidden;
  white-space: pre-wrap;
}

.config-editor p {
  margin: unset;
}
