@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ifm-font-family-base: "Inter";
  --ifm-color-primary: #312e81; /* Indigo 900 */
  --ifm-heading-color: #312e81; /* Indigo 900 - Color used for headings in text */
  --ifm-heading-font-family: "Inter";
  --ifm-navbar-link-hover-color: #06b6d4; /* Cyan 500 */
  --ifm-menu-color-active: #06b6d4; /* Cyan 500 - Active text in sidebar */
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* If you have a different syntax highlighting theme for dark mode. */
[data-theme="dark"] {
  /* Color which works with dark mode syntax highlighting theme */
  --docusaurus-highlighted-code-line-bg: rgba(66, 66, 66, 0.35);
  --ifm-color-primary: #7986cb; /* Indigo 300 */
  --ifm-heading-color: #7986cb; /* Indigo 300 - Color used for headings in text */
}

.markdown figure {
  padding: 8px;
  margin: 32px;
}

a {
  color: #06b6d4; /* Cyan 500 */
}

.menu__link[href*="https://"] svg,
svg[class*="iconExternalLink"] {
  display: none !important;
}

.command-line span.token.output {
  user-select: none;
}

.code-block-delete-line {
  background-color: rgba(255, 0, 0, 0.2);
  margin: 0 -12px;
  padding: 0 12px;
  display: block;
  text-decoration: line-through;
}

.code-block-add-line {
  background-color: rgba(0, 255, 0, 0.2);
  margin: 0 -12px;
  padding: 0 12px;
  display: block;
}

@media (max-width: 996px) {
  .footer__links a,
  .footer__links a:active,
  .footer__links a:visited,
  .footer__links a:focus {
    color: inherit;
    text-decoration: none;
  }

  .footer__links a:not(:first-child) {
    margin-top: 1em;
  }
}
