.ory-network-cta {
  --ory-cyan-50: #ecfeff;
  --ory-cyan-100: #cffafe;
  --ory-cyan-500: #06b6d4;
  --ory-cyan-900: #164e63;
  --ory-gray-900: #0f172a;

  container-type: inline-size;
  container-name: ory-network-cta;

  position: relative;
  margin-top: 1em;
  flex-shrink: 0;
  height: var(--ory-network-cta-height);
  background-color: var(--ory-cyan-500);
}

.ory-network-cta:hover {
  text-decoration: none;
}

.ory-network-cta__background {
  position: absolute;
  inset: 0;
}

.ory-network-cta__grid {
  background: url("/img/bg-grid-cell-medium.svg") center;
  position: absolute;
  inset: 0;
  z-index: 0;
}

.ory-network-cta__gradient {
  background: linear-gradient(
    164deg,
    var(--ory-cyan-500) 64.41%,
    transparent 100%
  );
  position: absolute;
  inset: 0;
  z-index: 1;
}

.ory-network-cta__content {
  position: relative;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  height: 100%;
  z-index: 10;
}

.ory-network-cta__title-and-paragraph {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ory-network-cta__title {
  font-style: normal;
  color: var(--ory-cyan-50);
  font-size: 24px;
  line-height: 100%;
  font-weight: 600;
}

.ory-network-cta__paragraph {
  font-size: 16px;
  line-height: 125%;
  color: var(--ory-cyan-100);
}

.ory-network-cta__button {
  /* Will be overridden in sufficiently wide container queries */
  display: none;

  padding: 9px 15px;
  background: var(--ory-cyan-50);
  color: var(--ory-cyan-900);
  font-weight: 500;
  word-wrap: normal;
}

.ory-network-cta__button:hover {
  text-decoration: none;
}

.ory-network-cta__inline-get-started {
  display: block;
}

@container ory-network-cta (width > 160px) {
  .ory-network-cta__button {
    display: block;
  }

  .ory-network-cta__inline-get-started {
    display: none;
  }
}

@container ory-network-cta (width > 200px) {
  .ory-network-cta__content {
    padding: 24px;
    gap: 48px;
  }

  .ory-network-cta__title {
    font-size: 26px;
    line-height: 100%;
    font-weight: 600;
  }

  @container ory-network-cta (width > 235px) {
    .ory-network-cta__paragraph {
      font-size: 18px;
      line-height: 150%;
    }
  }
}

@container ory-network-cta (width > 255px) {
  .ory-network-cta__content {
    gap: 32px;
  }

  .ory-network-cta__title {
    font-size: 36px;
  }

  .ory-network-cta__button {
    padding: 12px 20px;
  }
}
