.examplesection {
  max-width: var(--ifm-container-width-xl);
  margin: 0 auto;
  padding: 0 0 3rem;
}

.examplesectionheading {
  padding-bottom: 1rem;
}

.cardgrid {
  margin: 0 auto;
  display: grid;
  gap: var(--spacing-ory-4, 1rem);
}

@media screen and (min-width: 600px) {
  .cardgrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 996px) {
  .cardgrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
