.examplesWrapper {
max-width: 1060px;
margin: auto;
}

.wrapper {
  max-width: 1600px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 32px;
  list-style: none;
  padding-bottom: 32px;
}

@media screen and (min-width: 1200px) {
  .wrapper {
    grid-template-columns: auto auto auto;
  }
}

.container {
  display: grid;
  border-width: 1px;
  border-style: solid;
  grid-template-columns: 90px 250px;
  grid-template-rows: 55px 30px 40px;
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 100%;
  height: 125px;
  border-radius: 5px;
  text-decoration: none;
}

.title {
  font-size: large;
}

.img {
  width: 50px;
  margin-top: 15px;
  margin-left: 15px;
}

.header {
  margin-left: 2rem;
  margin-top: 1rem;
}

.buttonImg {
  width: 12px;
  margin-right: 8px;
}

.button {
  margin-top: 8px;
  padding: 2px 12px 2px 12px;
  color-scheme: light;
  cursor: pointer;
  margin-left: 8px;
}

.jfcard {
  background-color: var(--ifm-pre-background);
  color: inherit;
  padding: 1rem;
  display: grid;
  height: 100%;
  grid-template-columns: 2rem 1.75fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  grid-template-areas:
    "logo-img content";
}

.jfcards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
