/* center container in the middle */

.wrapper {
  max-width: 1600px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 25px;
  list-style: none;
}
@media screen and (min-width: 1200px) {
  .wrapper {
    grid-template-columns: auto auto auto;
  }
}

.container {
  display: grid;
  border-width: 1px;
  border-style: solid;
  grid-template-columns: 90px 250px;
  grid-template-rows: 55px 30px 40px;
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 380px;
  height: 125px;
  border-radius: 5px;
  text-decoration: none;
}

.title {
  font-size: large;
}

.img {
  width: 50px;
  margin-top: 15px;
  margin-left: 15px;
}

.header {
  margin-left: 2rem;
  margin-top: 1rem;
}

.buttonImg {
  width: 12px;
  margin-right: 8px;
}

.button {
  margin-top: 8px;
  padding: 2px 12px 2px 12px;
  cursor: pointer;
}

.buttonWrapper {
  padding: -12px;
  background-color: whitesmoke
   
}
