html
  head
    title= "Ory ExpressJS Integration Example"
  body
    h1= "Please sign in to view this page!"

    p
      | To view this page sign in using Ory:
      a(href="/.ory/self-service/login/browser")
        | Sign in
