name: Argos CI Screenshots

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  take-screenshots:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: current

      - name: Install dependencies
        run: npm i

      - name: Install Playwright browsers
        run: npm exec playwright install --with-deps chromium

      - name: Build the website
        run: npm run build
