name: Lint Markdown with markdownlint
on:
  pull_request:
    branches:
    - master
jobs:
  markdownlint:
    name: Lint Markdown
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Lint files
      uses: avto-dev/markdown-lint@v1.5.0
      with:
        config: './docs/.markdownlint.yml'
        args: './docs/docs/**/*.+(md|mdx)'

