name: Playwright Tests

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths-ignore:
      - "docs/**"
  pull_request:
    branches:
      - master
    paths-ignore:
      - "docs/**"

jobs:
  test-playwright:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
      - uses: actions/setup-go@v5
        with:
          go-version: "^1.22.1"
      - uses: shivammathur/setup-php@v2
        with:
          php-version: "8.1"
          tools: composer
      - uses: subosito/flutter-action@v2.10.0
        with:
          flutter-version: "3.10.6"
          channel: "stable"
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - run: npm install
      - name: Install Playwright
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: make test
      - uses: actions/upload-artifact@v4
        if: always()
        timeout-minutes: 15
        with:
          name: playwright-report
          path: |
            playwright-report/
            test-results/
          retention-days: 7
