name: Playwright Tests

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths-ignore:
      - "docs/**"
  pull_request:
    branches:
      - master
    paths-ignore:
      - "docs/**"

jobs:
  test-playwright:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: "npm"
      - uses: actions/setup-go@v5
        with:
          go-version: "^1.23"
      - uses: shivammathur/setup-php@v2
        with:
          php-version: "8.4"
          tools: composer
      - uses: subosito/flutter-action@v2.10.0
        with:
          flutter-version: "3.35.7"
          channel: "stable"
          cache: false
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
          cache: "maven"
      - run: npm ci
      - name: Verify Flutter and Dart versions
        run: |
          flutter --version
          dart --version
      - name: Install Playwright
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: make test
        env:
          ORY_CI_RATE_LIMIT_HEADER: ${{ secrets.ORY_CI_RATE_LIMIT_HEADER }}
          ORY_CI_RATE_LIMIT_HEADER_VALUE:
            ${{ secrets.ORY_CI_RATE_LIMIT_HEADER_VALUE }}
          ORY_PROJECT_API_KEY: ${{ secrets.ORY_PROJECT_API_KEY }}
      - uses: actions/upload-artifact@v4
        if: always()
        timeout-minutes: 15
        with:
          name: playwright-report
          path: |
            playwright-report/
            test-results/
          retention-days: 30
