name: Static Checks
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint-markdown:
    name: Lint Markdown
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Lint files
        uses: avto-dev/markdown-lint@v1.5.0
        with:
          config: "./docs/.markdownlint.yml"
          args: "./docs/docs/**/*.+(md|mdx)"

  misspell:
    name: Check spelling using misspell
    runs-on: ubuntu-latest
    steps:
      - name: Check out code.
        uses: actions/checkout@v6

      - name: misspell
        id: check_for_typos
        uses: reviewdog/action-misspell@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          path: "./docs"
          locale: "US"
          level: "warning"
          pattern: |
            *.md
            *.mdx
